body {
    margin: 0;
    padding: 0;
    transition: 1s;
}

#gameWindow {
    text-align: center;
}

#gameWindow canvas {
    margin-top: 5vh;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    display: inline;
}

/*Night mode theming*/
.night {
    background-color: black;
    color: white;
}
/*styling doesn't override day mode*/
.night canvas {
    border: 1px solid #39EDFF;
}
